{{ partial "head.html" . }}
<div class="site-wrap">
  {{ partial "header.html" . }}
  <div class="post p2 p-responsive wrap" role="main">
    <div class="measure">
      <div class="post-header mb2">
        <h1 class="py2">{{ .Title }}</h1>
        <span class="post-meta">{{ .Date.Format "Jan 2, 2006" }} {{ if isset .Params "author" }} by {{ .Params.author }} {{ end }}</span><br>
        {{ $baseurl := .Site.BaseURL }}
      </div>

      <article class="post-content">
      {{ .Content }}
      </article>

      {{ if isset .Params "tags" }} {{ if .Params.tags }}
      <p class="post-meta">{{ i18n "tags" }}:&nbsp;
        {{ range $i, $e := .Params.tags }}
            {{if $i}},&nbsp;{{end}}
        <a href="{{ $baseurl }}{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize}}">{{ . }}</a>
        {{ end }}
      </p>
      {{ end }} {{ end }}

      {{ partial "comments.html" . }}
    </div>
  </div>
</div>
{{ partial "footer.html" . }}
