    <footer class="footer">
      <div class="p2 wrap">
        <div class="measure mt1 center">
          {{ partial "social_links.html" . }}
          {{ if ne .Site.Params.hide_support_footer true}}
          <small>
            Copyright &#169; 2017<br>
            Powered by <a href="http://gohugo.io/" target="_blank">Hugo</a> &amp; <a href="https://github.com/azmelanar/hugo-theme-pixyll" target="_blank">Pixyll</a>
          </small>
          {{ end }}
        </div>
      </div>
    </footer>

    <!-- Highlight -->
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <!-- Google Analytics -->
    {{ partial "google_analytics.html" . }}

</body>
</html>
