<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <a href="{{ "" | relLangURL}}" class="site-title">{{ .Site.Title }}</a>
      <nav class="site-nav right">
      {{ partial "navigation.html" . }}
      </nav>
      <div class="clearfix"></div>
    </div>
  </div>
</header>
