{{ if .Site.Params.header_links.about }}
<a href="{{ "/about/" | relLangURL }}">{{ i18n "about" }}</a>
{{ end }}

{{ if .Site.Params.header_links.tags }}
<a href="{{ "/tags/" | relLangURL }}">{{ i18n "tags" }}</a>
{{ end }}
{{ if .Site.Params.header_links.contact }}
<a href="{{ "/contact/" | relLangURL }}">{{ i18n "contact" }}</a>
{{ end }}

{{- if .Site.IsMultiLingual -}}
{{- range $lang := .Site.Languages -}}
{{- if ne $.Site.Language $lang -}}
<a href="/{{ $lang }}">{{ $lang }}</a>
{{- end -}}
{{- end -}}
{{- end -}}
{{ if isset .Site.Params "search_engine" }}
<form class="navbar-search" action="{{ .Site.BaseURL }}/search/index.html"
    onsubmit="return validateForm(this.elements['q'].value);">
    <input type="text" class="search-query" placeholder="{{ i18n "search" }}" name="q" id="tipue_search_input">
{{ end }}
</form>
